.main {
  min-height: 100vh;
  flex: 1;
}

.content {
  width: 100vw;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
}

.content_info{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content_info h1{
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0;
  color: var(--text-primary-color);
}
.content_info p{
  font-weight: bold;
  margin: 0;
  color: var(--text-primary-color);
}

.content_info span {
  margin-bottom: 15px;
}

.module{
  margin-bottom: 1.5rem;
}

.contentButton{
  width: 170px;
} 