.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.0rem 6rem;
  background-color: #AACBE8;
  margin: 10px;
  border-radius: 10px;
}

.title{
  font-size: 1.3rem;
  font-weight: bold;
  color: var(--text-primary-color);
  margin: 0;
  padding: 0;
}

.links ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links a{
  color: var(--text-primary-color);
  font-size: 1rem;
  font-weight: 700;
}

.links a:not(:last-child){
  margin-right: 80px;
  transition: all 0.3s ease-in-out;
}

.links a:not(:last-child):hover {
  color: var(--text-dark-color);
}

.links a:last-child{
  color: white;
  background-color: var(--primary-color);
  padding: 0.4rem 1.3rem 0.5rem 1.3rem;
  margin: 0;
  border-radius: 8px;
  transition: all 0.2s ease-in-out;
}
.links a:last-child:hover{
  background-color: var(--primary-color-dark);
}
.links a:last-child:active{
  background-color: var(--primary-color-light);
}